.cardWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem
}

.catalogHeader{
    display: flex;
    gap: 1rem;
    padding:1rem 0;
    justify-content: center;
}