.cardContent {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  transition: all 0.4s;
  font-family: "Montserrat", sans-serif;
}

.title {
  color: white;
  text-align: center;
  font-size: 36px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.director {
  color: white;
  text-align: center;
  font-size: 24px;
  padding-bottom: 2rem;
}

.details {
  color: white;
  text-align: center;
  padding-bottom: 2rem;
  margin: 0 2rem;
}

.buttons {
  height: 10%;
  text-align: right;
  padding-right: 15px;
  padding-bottom: 40px;
  display: flex;
  justify-content: right;
}

.buttons__delete {
  background-color: hsl(0, 100%, 50%);
  padding: 14px;
  font-size: 21px;
  color: white;
  border: 1px solid rgb(183, 183, 183);
  cursor: pointer;
  font: inherit;
}

.buttons__edit {
  margin-left: 10px;
  background-color: hsl(110, 60%, 28%);
  padding: 14px;
  font-size: 21px;
  color: white;
  text-decoration: none;
  border: 1px solid rgb(183, 183, 183);
  font: inherit;
}

.img {
  height: 360px;
  width: 360px;
  margin-left: 10rem;
}
