.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: 19rem;
  height: 32rem;
  text-align: center;
  margin: 2rem 1rem;
  background-color: rgb(25, 25, 25);
  border-radius: 1rem;
  font-family: "Montserrat", sans-serif;
}

.detailsButton {
  background-color: #2a265f;
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 5px 30px;
  border-radius: 1rem;
  width: 50%;
  margin-bottom: 1rem;
  align-self: center;
}

.detailsButton:hover {
  background-color: #33059e;
}

.title {
  font-size: 2rem;
}

.img {
  height: 19rem;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
