.cardContent {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  width: 19rem;
  height: 32rem;
  text-align: center;
  margin-bottom: 4rem;
  margin-left: 1rem;
  background-color: rgb(25, 25, 25);
  border-radius: 1rem;
}

.detailsButton {
  position: absolute;
  bottom: 10px;
  left: 100px;
  background-color: #2a265f;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  padding: 20px;
  border-radius: 1rem;
}

.detailsButton:hover {
  background-color: #33059e;
}

.title {
  font-size: 28px;
}

.director {
  font-size: 16px;
}

.img {
  height: 300px;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
