.cardContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  width: 19rem;
  height: auto;
  margin-bottom: 4rem;
  margin-left: 1rem;
  background-color: rgb(25, 25, 25);
  border-radius: 1rem;
}

.detailsButton {
  background-color: #2a265f;

  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px;
  margin-top: auto;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.title {
  font-size: 28px;
}

.director {
  font-size: 16px;
}

.img {
  height: 300px;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
