/* .featuredWrapper {
  max-width: 80%;
  margin: 1rem auto;
  display: flex;
}

.textWrapper {
  color: white;

  display: inline-block;
}

.contentWrapper {
  display: inline-block;
  margin: auto;
}

.contentWrapper img {
  max-height: 360px;
} */
/* 
.carouselContainer {
  display: block;
}

.mainContainer {
  position: relative;
} */
