.headerWrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: center;
  background-color: #29303c;
  font-weight: bold;
  align-items: center;
}

.links {
  text-decoration: none;
  color: white;
}

.username {
  color: white;
  margin-left: 15rem;
}

.button {
  margin-left: 1rem;
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}
