.header {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: center;
  background-color: rgb(18, 18, 18);
  font-weight: bold;
  align-items: center;
}

.header__nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header__nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.header__nav a {
  text-decoration: none;
  color: #ffffff;
}

.header__username {
  color: white;
  margin-left: 15rem;
}

.header__logoutBtn {
  margin-left: 1rem;
  font: inherit;
  background-color: rgb(32, 32, 32);
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}
