.wrapper {
  max-width: 80%;
  max-height: 10rem;
  margin: auto;
  color: white;
  position: fixed;
  bottom: 10rem;
  left: 10rem;
  border-radius: 1rem;
}

.slider {
  margin: auto;
}

.slide {
  max-width: 191px;
  height: 192px;
  background-color: rgb(25, 25, 25);
  display: inline;
  text-align: center;
  position: relative;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  margin: auto;
  border-radius: 1rem;
}

.slide img {
  width: 191px;
  height: 192px;
  margin: auto;
  border-radius: 1rem;
}

.content {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  background-color: hwb(0 51% 49% / 0.933);
  width: 191px;
  height: 192px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  font-size: 24px;
}

.content p {
  margin-top: 3rem;
}
.slide .content:hover {
  opacity: 1;
}

.slide .content .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.slide .content:hover .text {
  opacity: 1;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
}
